/*perception index style*/
/**
 * @team Yundun FET
 * @author yilisong@yundun.com
 * @latest 2017-9-14
 * @operator yilisong@yundun.com
 */
 html {
    font-size: 20px !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
    background: transparent;
}

body {
    /*font-size: .7rem;*/
    font-size: 12px;
    line-height: 1;
    background: url('../img/bg_map.jpg') no-repeat 0 0;
    background-size: 100% 100%;
    background-color: #0b0a0f;
}

a {
    text-decoration: none;
    outline: none
}

a {
    transition: all 0.5s linear
}

i {
    font-style: normal;
}

b, strong {
    font-weight: normal;
}

ol, li {
    list-style: none;
}

:focus {
    outline: 0;
}

/*table {
    border-collapse: collapse;
    border-spacing: 0;
}*/
