@font-face {
  font-family: 'iconfont'; /* project id 254640 */
  src: url('//at.alicdn.com/t/font_m3ivueay2pmpwrk9.eot');
  src: url('//at.alicdn.com/t/font_m3ivueay2pmpwrk9.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_m3ivueay2pmpwrk9.woff') format('woff'),
    url('//at.alicdn.com/t/font_m3ivueay2pmpwrk9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_m3ivueay2pmpwrk9.svg#iconfont') format('svg');
}

.el-icon-caret-top:before {
  font-family: 'iconfont' !important;
  content: '\e657';
}

.el-icon-caret-bottom:before {
  font-family: 'iconfont' !important;
  content: '\e656';
}

.el-icon-email:before {
  font-family: 'iconfont' !important;
  content: '\e694';
}

.el-icon-message:before {
  font-family: 'iconfont' !important;
  content: '\e693';
}

.el-icon-information::before {
  font-family: 'iconfont' !important;
  content: '\e60d';
}

.el-icon-notice:before {
  font-family: 'iconfont' !important;
  content: '\e692';
}

.el-icon-verification:before {
  font-family: 'iconfont' !important;
  content: '\e64f';
}

.el-icon-cloud-speed:before {
  font-family: 'iconfont' !important;
  content: '\e64e';
}

.red-guard::before,
.taichi-ddos-web::before,
.cloud-speed::before {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-size: 20px;
  color: var(--button-border-gray);
}

.taichi-ddos-web::before {
  content: '\e64d';
}

.red-guard::before {
  content: '\e64a';
}

.cloud-speed::before {
  content: '\e64e';
}

.taichi-ddos-web-active::before,
.red-guard-active::before,
.cloud-speed-active::before,
.el-icon-layout-qq::before,
.el-icon-layout-message::before,
.el-icon-layout-hot-line::before,
.el-icon-layout-opinion::before {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-size: 22px;
  color: var(--primary-blue);
}

.taichi-ddos-web-active::before {
  content: '\e64d';
}

.red-guard-active::before {
  content: '\e64a';
}

.cloud-speed-active::before {
  content: '\e64e';
}

.el-icon-already-approve::before {
  font-family: 'iconfont' !important;
  color: #7ac01b;
  content: '\e650';
}

.el-icon-click-approve::before {
  font-family: 'iconfont' !important;
  color: var(--primary-blue);
  content: '\e650';
}

.el-icon-layout-qq::before {
  content: '\e65e';
}
.el-icon-layout-message::before {
  content: '\e65d';
}
.el-icon-layout-hot-line::before {
  content: '\e651';
}
.el-icon-layout-opinion::before {
  content: '\e652';
}

/*color icon , regard the svg as background*/

.yun-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  background-size: contain !important;
}
.yun-msg-center-act-c {
  background: url(../../images/icon/yun-msg-center-act-c.svg) no-repeat top left;
}

.yun-msg-center-all-c {
  background: url(../../images/icon/yun-msg-center-all-c.svg) no-repeat top left;
}

.yun-msg-center-safe-c {
  background: url(../../images/icon/yun-msg-center-safe-c.svg) no-repeat top left;
}

.yun-msg-center-ser-c {
  background: url(../../images/icon/yun-msg-center-ser-c.svg) no-repeat top left;
}

.yun-msg-center-wrong-c {
  background: url(../../images/icon/yun-msg-center-wrong-c.svg) no-repeat top left;
}

.yun-msg-center-act {
  background: url(../../images/icon/yun-msg-center-act.svg) no-repeat top left;
}

.yun-msg-center-all {
  background: url(../../images/icon/yun-msg-center-all.svg) no-repeat top left;
}

.yun-msg-center-safe {
  background: url(../../images/icon/yun-msg-center-safe.svg) no-repeat top left;
}

.yun-msg-center-ser {
  background: url(../../images/icon/yun-msg-center-ser.svg) no-repeat top left;
}

.yun-msg-center-wrong {
  background: url(../../images/icon/yun-msg-center-wrong.svg) no-repeat top left;
}
.yun-help-blue {
  background: url(../../images/icon/yun-help-blue.svg) no-repeat top left;
}

.yun-help-white {
  background: url(../../images/icon/yun-help-white.svg) no-repeat top left;
}

.yun-access {
  width: 50px;
  background: url(../../images/icon/yun-access.svg) no-repeat top left;
}

.yun-unaccess {
  width: 50px;
  background: url(../../images/icon/yun-unaccess.svg) no-repeat top left;
}

.yun-prior {
  width: 30px;
  background: url(../../images/icon/yun-prior.svg) no-repeat top left;
}

.yun-status-forbid-red {
  background: url(../../images/icon/yun-status-forbid-red.svg) no-repeat top
    left;
}

.yun-status-fork-red {
  background: url(../../images/icon/yun-status-fork-red.svg) no-repeat top left;
}

.yun-unsubscribed {
  background: url(../../images/icon/yun-unsubscribed.svg) no-repeat top left;
}

.yun-important-tip {
  background: url(../../images/icon/yun-important-tip.svg) no-repeat top left;
}

.yun-success {
  background: url(../../images/icon/yun-success.svg) no-repeat top left;
}

.yun-bind {
  background: url(../../images/icon/yun-bind.svg) no-repeat top left;
}

.yun-unbind {
  background: url(../../images/icon/yun-unbind.svg) no-repeat top left;
}

.yun-view-main {
  background: url(../../images/icon/yun-view-main.svg) no-repeat top left;
}

.yun-view-backup {
  background: url(../../images/icon/yun-view-backup.svg) no-repeat top left;
}

.yun-upload {
  background: url(../../images/icon/yun-upload.svg) no-repeat top left;
}

.yun-operate-lock {
  background: url(../../images/icon/yun-operate-lock.svg) no-repeat top left;
}

.yun-operate-forbid {
  background: url(../../images/icon/yun-operate-forbid.svg) no-repeat top left;
}

.yun-operate-fork {
  background: url(../../images/icon/yun-operate-fork.svg) no-repeat top left;
}

.yun-prepaid {
  background: url(../../images/icon/yun-prepaid.svg) no-repeat top left;
}

.yun-unpaid {
  background: url(../../images/icon/yun-unpaid.svg) no-repeat top left;
}

.yun-already-renew {
  background: url(../../images/icon/yun-already-renew.svg) no-repeat top left;
}

.yun-downtime {
  background: url(../../images/icon/yun-downtime.svg) no-repeat top left;
}

.yun-renew-linkage {
  background: url(../../images/icon/yun-renew-linkage.svg) no-repeat top left;
}

.yun-renew-linkage-done {
  background: url(../../images/icon/yun-renew-linkage-done.svg) no-repeat top
    left;
}

.yun-downtime-linkage {
  background: url(../../images/icon/yun-downtime-linkage.svg) no-repeat top left;
}

.yun-renew {
  background: url(../../images/icon/yun-renew.svg) no-repeat top left;
}

.yun-renew-done {
  background: url(../../images/icon/yun-renew-done.svg) no-repeat top left;
}

.yun-downtime-status {
  background: url(../../images/icon/yun-downtime-status.svg) no-repeat top left;
}

.yun-downtime-linkage-done {
  background: url(../../images/icon/yun-downtime-linkage-done.svg) no-repeat top
    left;
}

.yun-downtime-done {
  background: url(../../images/icon/yun-downtime-done.svg) no-repeat top left;
}

.yun-sort-up {
  background: url(../../images/icon/yun-sort-up.svg) no-repeat top left;
}

.yun-sort-down {
  background: url(../../images/icon/yun-sort-down.svg) no-repeat top left;
}

.yun-renew-success {
  background: url(../../images/icon/yun-renew-success.svg) no-repeat top left;
}

.yun-low-threat {
  background: url(../../images/icon/yun-low-threat.svg) no-repeat top left;
}

.yun-high-threat {
  background: url(../../images/icon/yun-high-threat.svg) no-repeat top left;
}

.yun-medium-threat {
  background: url(../../images/icon/yun-medium-threat.svg) no-repeat top left;
}
.yun-unappoint {
  background: url(../../images/icon/yun-unappoint.svg) no-repeat top left;
}
