.el-radio-button__orig-radio:disabled+.el-radio-button__inner {
  box-shadow: -1px 0 0 0 #d1dbe5;
}

.el-radio__input.is-checked {
  .el-radio__inner {
    border-color: var(--primary-blue);
    background: var(--primary-blue);
  }
}

.el-radio__inner {
  width: 14px;
  height: 14px;
  border-color: var(--disabled-border-color);
}


/*.el-radio__input {
  .is-disabled {
    .el-radio__inner {
      background: var(--disabled-background-color);

    }
  }
}*/


/*.el-radio__input.is-disabled.is-checked .el-radio__inner*/

.el-radio__input.is-disabled {
  .el-radio__inner {
    background: var(--disabled-background-color);
    border-color: var(--disabled-border-color);
  }
}

.el-radio__input.is-disabled.is-checked {
  .el-radio__inner {
    background: var(--disabled-background-color);
    border-color: var(--disabled-border-color);
  }
  .el-radio__inner::after {
    background: var(--light-gray);
  }
}
