.el-switch__input:checked+.el-switch__core {
  border-color: var(--green);
  background-color: var(--green);
}


.el-switch__core {
  /*border: 1px solid var(--button-border-gray);*/
  background: var(--button-gray);
}

.el-switch.is-checked {
  .el-switch__core {
    border-color: var(--green);
    background-color: var(--green);
  }
}
