*{
  margin:0;
  padding:0;
  list-style: none;
  font-family: MicrosoftYaHei;
}
html,body{
  height: 100%;
  overflow: hidden;
}

/* 修改element 样式 */
.el-input {
  font-size: 12px;
}

.el-input__inner {
  -webkit-appearance: none;
  background-color: #161d2f;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #1e2435;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 25px;
  line-height: 1;
  outline: 0;
  padding: 0 9px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.face1 .el-input__inner {
  color: #fff;
}

.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 25px;
}
/*
* table 
*/
.el-table {
  background-color: rgba(14, 20, 30, 0.8)!important;
}
.el-table tr, .el-table tr:hover {
  background-color: rgba(14, 20, 30, 0.8)!important;
  color: #fff;
  cursor: pointer;
}
.el-table th, .el-table th:hover {
  background-color: rgba(31, 37, 55, 0.8)!important;
  color: #fff;
  font-size: 14px;
}
.el-table td, .el-table th {
  padding: 0;
  font-size: 12px;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid rgba(137, 140, 147, 0.6);
}
.el-table__expanded-cell:hover{
  background-color: rgba(31, 37, 55, 0.8)!important
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row>td,
.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td { 
  background-color:rgba(31, 37, 55, 0.8)!important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td { 
  background-color:rgba(31, 37, 55, 0.8)!important
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: rgba(137, 140, 147, 0.6);
}
/*
* 分页样式
*/
.el-pagination.is-background .el-pager li.active {
  background-color: #20283b;
  color: #fff;
  border: 1px solid #104f90;
}

.el-pagination.is-background .btn-next, 
.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .el-pager li {
  margin: 0 5px;
  background-color: #20283b;
  color: #fff;
  min-width: 30px;
  border-radius: 2px;
}
/*
  * 按键大小   small  样式设置
*/
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: rgba(16, 79, 144, .2);
  border: 1px solid #104f90;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.el-button--mini, .el-button--small {
  font-size: 12px;
  border-radius: 12px;
}

.el-button--small, .el-button--small.is-round {
  padding: 5px 15px;
}

.el-button:focus, .el-button:hover {
  color: #fff;
  border-color: #409EFF;
  background-color: rgba(16, 79, 144, .5);
}
.el-button--text {
  border-color: transparent;
  color: #fff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
.el-button--text:hover, .el-button--text:focus {
  border-color: transparent;
  color: #fff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
/*
* message 提示
*/
.el-message {
  /* padding: 5px; */
}
.el-icon-error {
  font-size: 20px;
}

/*
* 日历样式
*/
.el-picker-panel {
  color: #fff;
  border: 1px solid #104f90;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background: rgba(14, 20, 30, 0.8);
  border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #104f90;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  top: -7px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #104f90;
}

/*过度动画效果*/
/* .fade-leave-active below version 2.1.8 */ 
.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*tabs*/

.el-tabs--border-card {
  background-color: #20283a;
}
.el-tabs--border-card>.el-tabs__header {
  background-color: #20283a;
}

/*el - select */
.el-select-dropdown {
  background: rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, .6)
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
.searchInfo .el-input__inner {
  height: 42px;
  width: 240px;
  border-radius: 21px;
  background-color: #101523;
}
.searchInfo .el-select .el-input__inner:focus {
  border: 1px solid rgba(0, 0, 0, .3)
}
.el-input__inner:hover {
  border-color: 1px solid rgba(0, 0, 0, .3)!important;
}

/*设备信息CSS*/
.equipments {
  position: relative;
}
.equipments .img {
  height: 170px;
  width: 20px;
  z-index: 9999;
  float: left;
}
.equipments .img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.equipments .img>div {
  position: relative;
  display: inline;
}
.car1 {
  margin-left: 7.9rem;
  top: 1.6rem;
}
.car2 {
  margin-left: 8.9rem;
  top: 6.2rem;
}
.wifi1 {
  margin-left: 7.7rem;
  top: 2.4rem;
}
.wifi2 {
  margin-left: 9.5rem;
  top: 5.4rem;
}
.camera1 {
  margin-left: 11.4rem;
  top: 1.6rem;
}
.camera2 {
  margin-left: 10.1rem;
  top: 2.6rem;
}
.camera3 {
  margin-left: 11.1rem;
  top: 5.4rem;
}
.camera4 {
  margin-left: 10.4rem;
  top: 6.4rem;
}
.face1 {
  margin-left: 9.6rem;
  top: 1.9rem;
}
.face2 {
  margin-left: 9.5rem;
  top: 2.4rem;
}
.face3 {
  margin-left: 9.8rem;
  top: 1.9rem;
}
.face4 {
  margin-left: 9.8rem;
  top: 2.5rem;
}
.face5 {
  margin-left: 9.4rem;
  top: 5.5rem;
}
.face6 {
  margin-left: 9.6rem;
  top: 5.6rem;
}
.face7 {
  margin-left: 9.6rem;
  top: 5.9rem;
}
.face8 {
  margin-left: 9rem;
  top: 6rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

/*滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 3px;
    height: 3px;
    background-color: rgba(14, 19, 34, 0.85);
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(14, 19, 34, 0.85);
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(14, 19, 34, 0.85);
}